<div class="content">
	<% if can?(:see, :admin_tools) %>
		<div class="actions">
			<%= link_to t(:settings_nav).html_safe, edit_user_path(@user), :remote => true %>
		</div>
	<% end %>
	<p class="definition">
		<%= t(:identity_definition).html_safe %> 
	</p>
	<hr>

	<p class="username">
		<%= link_to_if(@user.website?, display_avatar(@user, '4x').html_safe, @user.website) %><strong>Name:</strong>
		<%= @user.display_name %>
	</p>
	
	<p>
		<strong>Roles:</strong> 
		<% User.valid_roles.each do |role| %>
			<% if (can? :see, role) && @user.has_role?(role) %>
				<%= display_badge(role) %>
			<% end %>
		<% end %>
	</p>
	
	<% if can?(:see_email, @user) %>
		<p>
			<strong>Email:</strong>
			<%= @user.email %>
		</p>
	<% end %>
	
	<p>
		<strong>Biography:</strong>
		<%= markdown(@user.biography.to_s).html_safe %>
	</p>
	
	<p>
		<strong>Account has existed for</strong> <%= distance_of_time_in_words(Time.now, @user.created_at) %><br/>
		<% if can?(:timestamp, @user) %>
			<strong>Account created:</strong>
			<%= l(@user.created_at, format: :full) %>
		<% end %>
	</p>
</div>

	
<% if !@posts.blank? %>
	<div class="content">
		<p>
			<strong>Authored Items:</strong>
		</p>
		
		<% @posts.each do |item| %>
			<hr>
			<%= render 'items/single', :item => item %>
		<% end %>
		<%= will_paginate @posts =%>
	</div>
<% end %>

<% if !@unpub.blank? %>
	<div class="content">
		<p>
			<strong>Unpublished Items:</strong>
		</p>
		
		<% @unpub.each do |item| %>
			<hr>
			<%= render 'items/single', :item => item %>
		<% end %>
		<%= will_paginate @posts =%>
	</div>
<% end %>