<div class="content">
	<% if can?(:assign, :roles) %>
		<div class="actions">
			<%= link_to '<i class="fa fa-gear fa-lg"></i>'.html_safe, edit_user_path(@user) %>
		</div>
	<% end %>
	<p class="definition">
		<strong>Identity</strong> - <em>n</em>. 
	</p>
	<hr>

	<p class="username">
		<%= link_to_if(@user.website?, display_avatar(@user, '4x').html_safe, @user.website) %><strong>Name:</strong>
		<%= @user.display_name %>
	</p>
	
	<p>
		<strong>Roles:</strong> 
		<% User.valid_roles.each do |role| %>
			<% if (can? :see, role) && @user.has_role?(role) %>
				<%= display_badge(role) %>
			<% end %>
		<% end %>
	</p>
	
	<% if can?(:see_email, @user) %>
		<p>
			<strong>Email:</strong>
			<%= @user.email %>
		</p>
	<% end %>
	
	<p>
		<strong>Biography:</strong>
		<%= markdown(@user.biography.to_s).html_safe %>
	</p>
	
	<p>
		<strong>Account has existed for</strong> <%= distance_of_time_in_words(Time.now, @user.created_at) %><br/>
		<% if can?(:timestamp, @user) %>
			<strong>Account created:</strong>
			<%= @user.created_at.strftime("%H:%M, %a %b %d, %Y") %>
		<% end %>
	</p>

	
	<% if !@posts.blank? %>
		<p>
			<strong>Authored Items:</strong>
		</p>
		
		<% @posts.each do |item| %>
			<hr>
			<div class="entry">
				<span class="actions">
					<%= item.created_at.strftime("%a %b %d, %Y") %><br>
					<% if can? :update, item %>
						<%= link_to '<i class="fa fa-edit fa-lg"></i>'.html_safe, edit_item_path(item) %>
						<span class="htab"></span>
						<%= link_to '<i class="fa fa-times fa-lg"></i>'.html_safe, item_path(item),method: :delete,data: { confirm: 'Are you sure?' } %>
					<% end %>
				</span>
				<div class="title">
					<%= link_to item.title, item_path(item) %>
				</div>
				<div class="sample">
					<%= markdown(item.summary).html_safe %>
				</div>
			</div>
		<% end %>
		<%= will_paginate @posts =%>
	<% end %>
</div>