.content
  - if can?(:see, :admin_tools)
    .actions
      = link_to t(:settings_nav).html_safe, edit_user_path(@user), :remote => true
  %p.definition
    = t(:identity_definition).html_safe
  %hr/
  %p.username
    = link_to_if(@user.website?, display_avatar(@user, '4x').html_safe, @user.website)
    %span.strong Name:
    = @user.display_name
  %p
    %span.strong Roles:
    - User.valid_roles.each do |role|
      - if (can? :see, role) && @user.has_role?(role)
        = display_badge(role)
  %p
    %h3 Biography:
    = markdown(@user.biography.to_s).html_safe
  %p.fright
    - if can?(:see_email, @user)
      %span.strong Email:
      = @user.email
      %br/  
    %span.strong Account has existed for
    = distance_of_time_in_words(Time.now, @user.created_at)
    %br/
    - if can?(:timestamp, @user)
      %span.strong Account created:
      = l(@user.created_at, format: :full)
- if !@posts.blank?
  .content
    %p
      %h3 Authored Items:
    - @posts.each do |item|
      %hr/
      = render 'items/single', :item => item
    = paginate @posts, :remote => true
- if !@unpub.blank?
  .content
    %p
      %h3 Unpublished Items:
    - @unpub.each do |item|
      %hr/
      = render 'items/single', :item => item
