<% content_for :head do %>
	<title>Change</title>
<% end %>

<div class="content">
	<p class="definition">
		<strong>Change</strong> - <em>v</em>. To become different.
	</p>
	<%= form_for @user, url: profile_path, html: { multipart: true } do |f| %>
		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2>
					<%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:
				</h2>
				<ul>
					<% @user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<p>
			<%= f.label :display_name %>
			<%= f.text_field :display_name %>
		</p>
		<p>
			<%= f.label :website %>
			<%= f.url_field :website %>
		</p>
		<p>
			<%= f.label :biography %><em>(may contain markdown)</em><br/>
			<%= f.text_area :biography %>
		</p>
		<br/>
		<%= f.label 'Use custom icon?' %>
		<%= f.check_box :use_icon %>
		<div id="icon-choices">
			<% (0..(icon.length - 1)).each do |i| %>
				<div class="icon-choice">
					<%= radio_button_tag('user[icon]', i, :checked => (@user.icon == i)) %>
					<label for="<%= 'user_icon_' + i.to_s %>"><i class="fa fa-<%= icon[i] %>"></i></label>
				</div>
			<% end %>
		</div>
		<div id="custom-icon">
			 <%= image_tag(@user.avatar_url) if @user.avatar? %>
			<%= f.file_field :avatar %>
			<%= f.hidden_field :avatar_cache %>
		</div>
		<p>
			<%= f.submit "Commit" %>
		</p>
	<% end %>
	<p>
		<%= link_to 'Modify Account Settings', edit_user_registration_path %>
	</p>
</div>