<% content_for :head do %>
	<title>Change</title>
<% end %>

<div class="content">
	<p class="definition">
		<strong>Creation</strong> - <em>n</em>. The act of causing something that does not exist to exist.
	</p>
	<%= form_for @user, url: users_path do |f| %>
		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2>
					<%= pluralize(@user.errors.count, "error") %> prevented your account from existing:
				</h2>
				<ul>
					<% @user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<p>
			<%= f.label :display_name %>
			<%= f.text_field :display_name %>
		</p>
		<p>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</p>
		<p>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
		</p>
		<p>
		<%= f.label 'Access Token' %>
		<%= f.password_field :access_token %>
		</p>
		<p>
		<%= f.submit "Commit" %>
		</p>
	<% end %>
</div>