- content_for :head do
  %title Resend Confirmation Instructions
.content.narrow
  = render "devise/shared/links"
  %p.definition
    %strong Resend Confirmation Instructions
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    %p.field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true
    %p.field
      = f.submit "Resend confirmation instructions"
