<div class="comment <%= ((comment.depth % 2) == 0)? 'odd' : 'even' %>">
	<span class="actions">
		<% if can? :create, Comment %>
			<%= link_to 'Reply', url: '#' %>
		<% end %>
		<% if can? :update, comment %>
			<span class="htab"></span>
			<%= link_to 'Change', edit_item_comment_path(@item, comment) %>
			<span class="htab"></span>
			<%= link_to 'Destroy', item_comment_path(@item, comment),method: :delete,data: { confirm: 'Are you sure?' } %>
		<% end %>
	</span>
	<div class="comment_core">
		<span class="byline">
			<%= link_to comment.user.display_name, user_path(comment.user), title: comment.created_at.strftime("%H:%M, %a %b %d, %Y") %>
		</span>
		<%=  markdown(comment.body).html_safe %>
	</div>
	<% if comment.has_children? %>
		<div class="children">
			<% comment.children.each do |comment| %>
				<%= render partial: 'comments/comment', object: comment %>
			<% end %>
		</div>
	<% end %>
</div>