<% if !params[:comment].blank? %>
	<p>Replying to <%=  Comment.find_by_id(params[:comment]).user.display_name %></p>
<% end %>

<%= form_for @comment, url: item_comments_path(@item, :reply_id => params[:comment]) do |f| %>
	<% if @comment.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@comment.errors.count, "error") %> prohibited this article from being saved:
			</h2>
			<ul>
				<% @comment.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<% f.label :comment_body %>
		<%= f.text_area :body, :placeholder => 'speak your mind' %>
	</p>
		
	<p>
		<% f.submit 'preview', class: "left" %>
		<%= f.submit 'commit', class: "right" %>
	</p>
	&nbsp
<% end %>