<% if (can? :create, Comment) && !comment.user.blank? %>
	<span class="actions">
		<%= link_to '<i class="fa fa-reply fa-lg"></i>'.html_safe, new_item_comment_path(comment.item_id, :comment => comment.id) %>
		<% if can? :update, comment %>
			<span class="htab"></span>
			<%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_item_comment_path(comment.item_id, comment.id) %>
			<span class="htab"></span>
			<%= link_to '<i class="fa fa-times fa-lg"></i>'.html_safe, item_comment_path(comment.item_id, comment.id),method: :delete,data: { confirm: 'Are you sure?' } %>
		<% end %>
	</span>
<% end %>
<a name="<%= comment.id %>"></a>
<div class="comment_core">
	<% if !comment.user.blank? %>
		<span class="byline">	
			<%= link_to display_avatar(comment.user, '1x').html_safe + ' ' + comment.user.display_name, user_path(comment.user), title: comment.created_at.strftime("%H:%M, %a %b %d, %Y") %>
			<% if !comment.is_root? %>
				replies<%= (comment.created_at != comment.updated_at)? '<span title="'.html_safe + comment.updated_at.strftime("%H:%M, %a %b %d, %Y") + '">*</span>'.html_safe : '' %> to 
				<% if (!comment.parent.user.blank?) %>
					<%= link_to comment.parent.user.display_name, :anchor => comment.parent.id %>:
				<% else %>
					[deleted]
				<% end %>
			<% else %>
				writes<%= (comment.created_at != comment.updated_at)? '<span title="'.html_safe + comment.updated_at.strftime("%H:%M, %a %b %d, %Y") + '">*</span>'.html_safe : '' %>:
			<% end %>
		</span>
		<div class="comment_body">
			<%= markdown(comment.body).html_safe %>
		</div>
	<% else %>
		<span class="byline deleted">[deleted]</span>
	<% end %>
</div>