<div class="content menu_edit">
	<%= render 'admin/admin/bar' %>
	<p class="definition">
		<%= t(:logolink_definition).html_safe %>
	</p>
	<%= @logolinks.each do |ll| %>
		<%= render 'form', :ll => ll, :path => admin_logolink_path(ll) %>
	<% end %>
	<%= render 'form', :ll => @ll_new, :path => admin_logolink_index_path %>
</div>