<div class="content groups narrow">
	<p class="definition">
		<%= t(:group_definition).html_safe %>
	</p>
	<h3><%= t :groups_managed_message %></h3>
	<% @groups.each do |group| %>
		<% if can?(:manage, group) %>
			<%= render 'single_tiny', :group => group %>
		<% end %>
	<% end %>
	<h3><%= t :groups_member_message %></h3>
	<% @groups.each do |group| %>
		<% if !can?(:manage, group) %>
			<%= render 'single_tiny', :group => group %>
		<% end %>
	<% end %>
</div>