.content.groups.narrow
  %p.definition
    = t(:group_definition).html_safe
  %h3= t :groups_managed_message
  - @groups.each do |group|
    - if can?(:manage, group)
      = render 'single_tiny', :group => group
  %h3= t :groups_member_message
  - @groups.each do |group|
    - if !can?(:manage, group)
      = render 'single_tiny', :group => group
