<div class="content narrow">
	<p class="definition">
		<%= t(:creation_definition).html_safe %>
	</p>
	<%= form_for @group do |f| %>
		<p>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.submit t(:commit), class: "left" %>
		</p>
	<% end %>
</div>