<div class="content">
	<p class="definition">
		<%= t(:index_definition).html_safe %>
	</p>
	<% @users.each do |user| %>
		<hr>
		<div class="entry user">
			<%= display_avatar(user, '2x').html_safe %>
			<div class="title">
				<%= link_to user.display_name, user_path(user), :remote => true %>
			</div>
			<% if user.biography? %>
				<div class="sample">
					<%= markdown(user.biography.first(140)).html_safe %>
				</div>
			<% else %>
				&nbsp
			<% end %>
		</div>
	<% end %>
	<hr>
	<%= paginate @posts, :remote => true =%>
</div>