<% content_for :head do %>
	<title>Change</title>
<% end %>

<div id="content">
	<p id="definition">
		<strong>Change</strong> - <em>v</em>. To become different.
	</p>
	<%= form_for @user do |f| %>
		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2>
					<%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:
				</h2>
				<ul>
					<% @user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<p>
			<%= f.label :display_name %>
			<%= f.text_field :display_name %>
		</p>
		<p>
			<%= f.label :website %>
			<%= f.text_field :website %>
		</p>
		<p>
			<%= f.label :biography %>
			<%= f.text_area :biography %>
		</p>
		<div id="dangerous">
			<p>
				<%= f.label 'current password' %>
				<%= f.password_field :password_old %>
			</p>
			<p>
				<%= f.label :email %>
				<%= f.text_field :email, readonly: true %>
			</p>
			<p>
				<%= f.label 'change password' %>
				<%= f.password_field :password, readonly: true %>
			</p>
			<p>
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, readonly: true %>
			</p>
		</div>
		<p>
			<%= f.submit "Commit" %>
		</p>
	<% end %>
</div>