<% content_for :head do %>
	<title><%= @user.display_name %></title>
<% end %>

<div id="content">
	<p id="definition">
		<strong>Identity</strong> - <em>n</em>. 
	</p>
	<hr>
	<p>
		<strong>Name:</strong>
		<%= @user.display_name %>
	</p>
	
	<p>
		<strong>Email:</strong>
		<%= @user.email %>
	</p>
	
	<p>
		<strong>Website:</strong>
		<%= link_to @user.website, @user.website %>
	</p>
	
	<p>
		<strong>Biography:</strong>
		<%= markdown(@user.biography.to_s).html_safe %>
	</p>

	<p>
		<strong>Account creation at:</strong>
		<%= @user.created_at %>
	</p>

	<p>
		<strong>Last activity at:</strong>
		<%= @user.last_request_at %>
	</p>
	
	<%= @user.registration_token.token %>
	
	<p>
		<strong>Authored Items:</strong>
	</p>
	
	<% @posts.each do |item| %>
		<hr>
		<div id="entry">
			<span id="actions">
				<%= item.created_at.strftime("%a %b %d, %Y") %><br>
				<% if can? :update, item %>
					<%= link_to 'Change', edit_item_path(item) %>
					<span class="tab"></span>
					<%= link_to 'Destroy', item_path(item),method: :delete,data: { confirm: 'Are you sure?' } %>
				<% end %>
			</span>
			<div id="title">
				<%= link_to item.title, item_path(item) %>
			</div>
			<div id="sample">
				<%= markdown(item.summary).html_safe %>
			</div>
		</div>
	<% end %>
	<%= will_paginate @posts =%>
</div>