- if current_user
  .account
    .tools
      = link_to t(:user_nav).html_safe + ' ' + current_user.display_name, profile_path
    .logout
      - if can? :update, Core
        %span.qtab
        = link_to t(:admin_settings_nav).html_safe, admin_root_path
      %span.htab
      = link_to t(:settings_nav).html_safe, edit_profile_path
      %span.htab
      = link_to t(:logout_nav).html_safe, destroy_user_session_path, method: :delete,data: { confirm: t(:confirm_logout) }
    &nbsp
- elsif Core.first.show_login? && (controller_name != 'sessions') && (controller_name != 'registrations')
  .holder
    .login
      = link_to t(:user_nav).html_safe, new_user_session_path
      %span.tab
      = link_to t(:register_nav).html_safe, new_user_registration_path
