<% if current_user %>
	<div class="account">
		<div class="tools">
			<%= link_to t(:user_nav).html_safe + ' ' + current_user.display_name, profile_path %>
		</div>
		<div class="logout">
			<% if can? :update, Core %>
				<span class="qtab"></span>
				<%= link_to t(:admin_settings_nav).html_safe, admin_root_path %>
			<% end %>
			<span class="htab"></span>
			<%= link_to t(:settings_nav).html_safe, edit_profile_path %>
			<span class="htab"></span>
			<%= link_to t(:logout_nav).html_safe, destroy_user_session_path, method: :delete,data: { confirm: t(:confirm_logout) } %>
		</div>
		&nbsp
	</div>
<% elsif Core.first.show_login? && (controller_name != 'sessions') && (controller_name != 'registrations') %>
	<div class="holder">
		<div class="login">
			<%= link_to t(:user_nav).html_safe, new_user_session_path %>
			<span class="tab"></span>
			<%= link_to t(:register_nav).html_safe, new_user_registration_path %>
		</div>
	</div>
<% end %>