<footer>
	<div class="bottom">©2015</div>
	<div class="right tools">
		<% if current_user %>
			<%= link_to t(:user_nav).html_safe + ' ' + current_user.display_name, profile_path, :remote => true %>
			<% if can? :update, Core %>
				<span class="qtab"></span>
				<%= link_to t(:admin_settings_nav).html_safe, admin_root_path, :remote => true %>
			<% end %>
			<span class="htab"></span>
			<%= link_to t(:settings_nav).html_safe, edit_profile_path, :remote => true %>
			<span class="htab"></span>
			<%= link_to t(:logout_nav).html_safe, destroy_user_session_path, method: :delete,data: { confirm: t(:confirm_logout) } %>
		<% elsif Core.first.show_login? && (controller_name != 'sessions') && (controller_name != 'registrations') %>
			<%= link_to t(:user_nav).html_safe, new_user_session_path %>
			<span class="tab"></span>
			<%= link_to t(:register_nav).html_safe, new_user_registration_path %>
		<% end %>
	</div>	
</footer>