<footer>
	<div class="bottom">©2015</div>
	<div class="right tools">
		<% if current_user %>
			<%= link_to '<i class="fa fa-user fa-lg"></i>'.html_safe + ' ' + current_user.display_name, profile_path, :remote => true %>
			<% if can? :update, Core %>
				<span class="qtab"></span>
				<%= link_to '<i class="fa fa-gears fa-lg"></i>'.html_safe, admin_root_path, :remote => true %>
			<% end %>
			<span class="htab"></span>
			<%= link_to '<i class="fa fa-gear fa-lg"></i>'.html_safe, edit_profile_path, :remote => true %>
			<span class="htab"></span>
			<%= link_to '<i class="fa fa-user-times fa-lg"></i>'.html_safe, destroy_user_session_path, method: :delete,data: { confirm: 'Are you sure?' } %>
		<% elsif Core.first.show_login? && (controller_name != 'sessions') && (controller_name != 'registrations') %>
			<%= link_to '<i class="fa fa-user fa-lg"></i>'.html_safe, new_user_session_path %>
			<span class="tab"></span>
			<%= link_to '<i class="fa fa-user-plus fa-lg"></i>'.html_safe, new_user_registration_path %>
		<% end %>
	</div>	
</footer>