<div class="content">
	<p class="nav">
		<%= link_to t(:recent_posts_nav), fetch_path(:node => '1'), :remote => true %>
		<%= link_to t(:all_categories_nav), fetch_path(:node => '2'), :remote => true %>
		<%= link_to t(:top_tags_nav), fetch_path(:node => '3'), :remote => true %>
		<%= link_to t(:all_posts_nav), items_path, :remote => true %>
	</p>
	<div id="items">
		<%= render 'recent_block', :recent => @recent %>
	</div>
</div>