.content
  %i.fa.fa-fire-extinguisher.fa-4x.right
  %strong 500
  \-
  = succeed "." do
    %em n
  %ul.dashed
    %li
      %em 501
      = succeed "Not" do
        %span.tab
    %li
      %em 502
      = succeed "Bad" do
        %span.tab
    %li
      %em 503
      = succeed "Service" do
        %span.tab
    %li
      %em 504
      = succeed "Gateway" do
        %span.tab
    %li
      %em 508
      = succeed "Loop" do
        %span.tab
