<%= form_for(@item, turboboost: false) do |f| %>
	<% if @item.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@item.errors.count, "error") + ' ' + t(:save_failed) %>
			</h2>
			<ul>
				<% @item.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
		
	<p>
		<%= f.label :summary %>
		<%= f.text_field :summary %>
	</p>
			
	<p>	
		<%= f.label :content %><br>
		<%= f.text_area :content %>
	</p>
		
	<p>	
		<%= f.label :category_id %><br>
		<%= f.select :category_id, options_for_select(@cat_options, @item.category_id) %>		
	</p>
		
	<p>
		<%= f.submit t(:preview), class: "left" %>
		<%= f.submit t(:commit), class: "right" %>
	</p>
	&nbsp
<% end %>