<div class="content">
	<span class="actions">
		<% if can? :update, @item %>
			<%= link_to t(:change_nav).html_safe, edit_item_path(@item), :remote => true %>
			<span class="htab"></span>
			<%= link_to t(:delete_nav).html_safe, item_path(@item),method: :delete,data: { confirm: t(:confirm_deletion) } %>
		<% end %>
	</span>
	<p id="definition">
		<strong><%= @item.title %></strong>
	</p>
	<hr>
 
	<%= markdown(@item.content).html_safe %>

	<div class="created">
		Written by: <%= link_to User.find_by_id(@item.user).display_name, user_path(@item.user), :remote => true %><br>
		Created: <%= l(@item.created_at, format: :full) %><br>
		<% show_modified = (@item.created_at != @item.updated_at) %>
		<% if show_modified %>
			Modified: <%= l(@item.updated_at, format: :full) %>
		<% end %>
	</div>
	<div class="category">
		<%= link_to Category.find_by_id(@item.category).name, category_path(@item.category), :remote => true %>
	</div><br>
	<% if show_modified %>
		<br>
	<% end %>
	&nbsp
</div>

<%= render 'comments/view' %>