<div class='content<%= !@item.published ? ' unpublished' : '' %>'>
	<span class='actions'>
		<% if can? :update, @item %>
			<% if !@item.published? %>
				<%= link_to t(:publish_nav).html_safe, item_publish_path(@item),method: :post,data: { confirm: t(:confirm_publication) } %>
			<% elsif can? :retract, @item %>
				<%= link_to t(:unpublish_nav).html_safe, item_publish_path(@item),method: :post,data: { confirm: t(:confirm_retraction) } %>
			<% end %>
			<%= link_to t(:change_nav).html_safe, edit_item_path(@item), :remote => true %>
			<%= link_to t(:delete_nav).html_safe, item_path(@item),method: :delete,data: { confirm: t(:confirm_deletion) } %>
		<% end %>
	</span>
	<p id='definition'>
		<strong><%= @item.title %></strong>
	</p>
	<hr>
 
	<%= markdown(@item.content).html_safe %>

	<% if !@item.tag_list.empty? %>
		<hr>
		<div class='tags fade expand'>
			<div class='heading'><%= t(:tags_heading).html_safe %></div>
			<% @item.tag_list.each do |tag| %>
				<div class='tag'><%= link_to tag, tag_path(tag), :remote => true %></div>
			<% end %>
		</div>
	<% end %>
	
	<div class='created'>
		Written by: <%= link_to User.find_by_id(@item.user).display_name, user_path(@item.user), :remote => true %><br>
		Created: <%= l(@item.created_at, format: :full) %><br>
		<% show_modified = (@item.created_at != @item.updated_at) %>
		<% if show_modified %>
			Modified: <%= l(@item.updated_at, format: :full) %>
		<% end %>
	</div>
	<div class='category'>
		<%= link_to Category.find_by_id(@item.category).name, category_path(@item.category), :remote => true %>
	</div><br>
	<% if show_modified %>
		<br>
	<% end %>
	&nbsp
	
</div>

<%= render 'comments/view' %>