.entry
  = render 'items/actions', :item => item
  .title
    - if !test_group?(item)
      %em= t(:locked_nav).html_safe + ' ' + item.title
    - elsif item.groups.first.nil?
      = link_to item.title, item_path(item), :remote => true
    - else
      = link_to t(:unlocked_nav).html_safe + ' ' + item.title, item_path(item), :remote => true
    %span.byline
      by #{link_to item.user.display_name, user_path(item.user.id), :remote => true}
  .sample
    = markdown(item.summary).html_safe
