<% content_for :head do %>
	<title>Thought Index</title>
<% end %>
 
<div id="content">
	<div id="definition">
		<strong>Index</strong> - <em>n</em>. A list of items that gives for each item the location where it may be found.
		<% if can? :create, @item %>
			<span id="actions">
				<%= link_to 'Create', new_item_path %>
			</span>
		<% end %>
	</div>
	<% @items.each do |item| %>
		<hr>
		<div id="entry">
			<% if can? :update, item %>
				<span id="actions">
					<%= item.created_at.strftime("%a %b %d, %Y") %><br>
					<%= link_to 'Change', edit_item_path(item) %>
					<span class="tab"></span>
					<%= link_to 'Destroy', item_path(item),method: :delete,data: { confirm: 'Are you sure?' } %>
				</span>
			<% end %>
			<div id="title">
				<%= link_to item.title, item_path(item) %>
			</div>
			<div id="sample">
				<%= markdown(item.summary).html_safe %>
			</div>
		</div>
	<% end %>
	<hr>
	<%= will_paginate @posts =%>
</div>