<% content_for :head do %>
	<title>Thought Index</title>
<% end %>
 
<div class="content">
	<p class="definition">
		<strong>Index</strong> - <em>n</em>. A list of items that gives for each item the location where it may be found.
		<% if can? :create, @item %>
			<span class="actions">
				<%= link_to '<i class="fa fa-plus fa-lg"></i>'.html_safe, new_item_path %>
			</span>
		<% end %>
	</p>
	<% @posts.each do |item| %>
		<hr>
		<div class="entry">
			<span class="actions">
				<%= item.created_at.strftime("%a %b %d, %Y") %><br>
				<% if can? :update, item %>
					<%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_item_path(item) %>
					<span class="htab"></span>
					<%= link_to '<i class="fa fa-times fa-lg"></i>'.html_safe, item_path(item),method: :delete,data: { confirm: 'Are you sure?' } %>
				<% end %>
			</span>
			<div class="title">
				<%= link_to item.title, item_path(item) %>
			</div>
			<div class="sample">
				<%= markdown(item.summary).html_safe %>
			</div>
		</div>
	<% end %>
	<hr>
	<%= will_paginate @posts =%>
</div>