<% content_for :head do %>
	<title>Access Token Modification</title>
<% end %>

<div id="content">
	<p id="definition">
		<strong>Access Token</strong> - <em>n</em>. An object that describes the security identity of a process.
	</p>
	<%= form_for @key, url: admin_keys_path do |f| %>
		<% if @key.errors.any? %>
			<div id="error_explanation">
				<h2>
					<%= pluralize(@key.errors.count, "error") %> prohibited this article from being saved:
				</h2>
				<ul>
					<% @key.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		
		<p>
			<%= f.label :can_comment %>
			<%= f.check_box :can_comment %>
		</p>
		<p>
			<%= f.label :can_author %>
			<%= f.check_box :can_author %>
		</p>
		<p>
			<%= f.label :is_moderator %>
			<%= f.check_box :is_moderator %>
		</p>
		<p>
			<%= f.label :is_editor %>
			<%= f.check_box :is_editor %>
		</p>
		<p>
			<%= f.label :is_administrator %>
			<%= f.check_box :is_administrator %>
		</p>
			
		<p>
			<%= f.submit 'commit', id: "left" %>
		</p>
		&nbsp
	<% end %>
</div>