<% content_for :head do %>
	<title>Access Token List</title>
<% end %>

<div class="content narrow">
	<% if can? :create, @keys %>
		<span class="actions">
			<%= link_to 'All admin tools', admin_root_path %>
			<span class="tab"></span>
			<%= link_to 'Create a new key', new_admin_key_path %>
		</span>
		<br>
	<% end %>
	<% @keys.each do |key| %>
		<hr>
		<div class="entry">
			<span class="actions">
				<% if can?(:destroy, key) & !key.used? %>
					<%= link_to 'Destroy', admin_key_path(key),method: :delete,data: { confirm: 'Are you sure?' } %>
				<% end %>
				<% if can?(:update, key) %>
					<span class="tab"></span>
					<%= link_to 'Modify', edit_admin_key_path(key) %>
				<% end %>
			</span>
			<div class="title">
				<strong><%= key.token %></strong>
			</div>
			<div class="sample">
				Created: <%= key.created_at.strftime("%H:%M, %a %b %d, %Y") %><br/>
				Permissions:
				<% if key.is_superuser? %>
					Superuser.
				<% else %>
					<%= 'Commentator,' if key.can_comment? %>
					<%= 'Author,' if key.can_author? %>
					<%= 'Moderator,' if key.is_moderator? %>
					<%= 'Editor,' if key.is_editor? %>
					<%= 'Administrator' if key.is_administrator? %>
				<% end %><br/>
				<% if key.used? %>
					Redeemed: <%= key.updated_at.strftime("%H:%M, %a %b %d, %Y") %><br/>
					<% user = User.find_by_id(key.user_id) %>
					Used By: <%= link_to user.email, user_path(user) %>
				<% end %>
			</div>
		</div>
	<% end %>
	<hr>
	<%= paginate @pages, :remote => true =%>
</div>