<% content_for :head do %>
	<title><%= @category.name %></title>
<% end %>
 
<div id="content">
	<span id="actions">
		<%= link_to 'All Categories', categories_path %>
		<% if can? :update, @category %>
			<span class="tab"></span>
			<%= link_to 'Create', new_item_path %>
		<% end %>
	</span>
	<p id="definition">
		<strong><%= @category.name %></strong><br/>
		<hr>
		<%= markdown(@category.summary).html_safe %>
	</p>
	<% @posts.each do |item| %>
		<hr>
		<div id="entry">
			<span id="actions">
				<%= item.created_at.strftime("%a %b %d, %Y") %><br>
				<% if can? :update, item %>
					<%= link_to 'Change', edit_item_path(item) %>
					<span class="tab"></span>
					<%= link_to 'Destroy', item_path(item),method: :delete,data: { confirm: 'Are you sure?' } %>
				<% end %>
			</span>
			<div id="title">
				<%= link_to item.title, item_path(item) %>
			</div>
			<div id="sample">
				<%= markdown(item.summary).html_safe %>
			</div>
		</div>
	<% end %>
	<hr>
	<%= will_paginate @posts =%>
</div>