<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <% stylesheet_link_tag '/css/style' %>
  <%= csrf_meta_tags %>
  <% stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "application", params[:controller], :media => "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render "shared/flash" if !flash.empty? %>

<%= render "shared/menu" %>

<%= yield %>

<%= render "shared/account" %>

<%= render "shared/footer" %>

</body>
</html>
