<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'modernizr.custom.94336', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.tagsinput.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<script>
<%= render "shared/notifications" %>
</script>

<div id="bg">
</div>

<div id="wrapper">

	<%= render "shared/menu" %>
	
	<section class="refresh hidden" id="spinner">
		<i class="fa fa-refresh fa-spin fa-4x"></i>
	</section>
	
	<section id="yield">
		<%= yield %>
	</section>

	<% render "shared/account" %>

</div>
	
<%= render "shared/footer" %>

</body>
</html>
